.container-banner {
    width: 100%;
    overflow: hidden;
}

img {
    width: 100%;
    filter: brightness(.8);
}



.main-banner {
    top: 0px;
    left: 0px;
    /* width: 100%; */
    height: 42.75em;
    position: absolute;
    border-color: transparent;
    z-index: -999999999;
    background-size: 100% 100%;
    background-size: cover;
}   
@media (max-width: 600px) {
    .main-banner-img{
        height: 100%;
    }
  }

.main-banner-heading {
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    width: 795px;
    text-align: center;
    margin-bottom: 0;
    margin-top: -30px;
}



.main-banner-heading-container {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.main-banner-secondary-heading-container {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2rem;
    text-align: center;

}

.main-banner-secondary-heading{
    font-family: 'Ubuntu';
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 0;
}

@media (max-width:800px){
    .main-banner-heading{
        width: 391px;
    }
    .main-banner-heading-container{
        font-size: 25px;
    }
}

.search-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    background: linear-gradient(94.43deg, rgba(249, 249, 249, 0.49) 34.95%, rgba(249, 249, 249, 0.175) 67.01%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    margin-top: 92px;
}

.width-container{
    max-width: 950px;
}

@media (max-width:800px) {
    .search-container{
        flex-direction: column;
    }

    
}

.center-container{
    display: flex;
    justify-content: center;
}


@keyframes jumpInfinite {
    0% {
      margin-top: 10px;
      opacity: 2;
    }
    50% {
      margin-top: 20px;
      opacity: 0.8;
    }
    100% {
      margin-top: 10px;
      opacity: 2;
    }
  }


.godown{
    width: 60px;
    height: 40px;
    margin-top: 20px;
    /* animation: jumpInfinite 1.5s infinite; */
}
