.image-div {
    width: 500px;
    height: 300px;
}

.image-card {
    border-color: transparent;
    border-radius: 25px;
}

.search-container1 {
    box-sizing: border-box;
    width: 424px;
    transform: translate(30px, -40px);

    background: linear-gradient(94.33deg, rgba(255, 255, 255, 0.6) 3.19%, rgba(255, 255, 255, 0.1) 99.26%);
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 15px;
    border: 1px solid gainsboro;
    padding: 10px 20px;
}

.card-btn-group {
    display: flex;
    justify-content: space-between;
}

.btn-gradient {
    background: linear-gradient(90deg, #FF594C 0%, #FAC527 100%);
    border-radius: 10px;
    border-color: transparent;
    font-family: 'Ubuntu';
}