.custom-input{
    padding: 10px;
}

.custom-input-box{
    padding: 10px;
    padding-top: 25px;
    border-radius: 20px;
    font-size: 1rem;
    font-family: 'Ubuntu';
    font-weight: 400;
    border: transparent;
}

::placeholder{
    color: black;
}
.custom-label{
    font-family: 'Exo 2';
    font-size: 0.8rem;
    position: absolute;
    color: gray;
    transform: translate(-200px,2px);
}